.main {
  padding: 5%;
  background: linear-gradient(rgba(0, 0, 0, .2),  rgba(0, 0, 0, .3)),  url(../public/contact.jpg); 

/*   background-image: url(../public/contact.jpg);  */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  color: var(--white);
  text-shadow: 0 0 10px var(--gray-75);
}


.title {
  text-align: center;
}


.wrap {
  display: flex;
  justify-content: space-around;
}
.blank {
  width: 50%;
}
.form {
  width: 50%;
}


.main form div {
    margin-bottom: 5%;
}
.main label {
    margin-bottom: 10px;
    display: block;
}
.name, .email, .textarea {
    width: 100%;
    max-width: 240px;
    background: rgba(255,255,255,.7);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
.textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
.button {
    font-size: 1.375rem;
    background: var(--accent);
    color: var(--white);
    border-radius: 5px;
    padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}
