.main {
  margin-top: 8%;
  text-align: center;
}

.main h2 {
  margin: 6% 0;
}

.button {
  display: block;
  width: 40%;
  margin: 0 auto 6%;
  background: var(--accent);
  font-size: var(--button);
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}
