.main {
  padding: 3%;
  background-color: var(--gray-75);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  text-align: center;
}
.title .text {
  font-size: var(--nav);
}
.title .projectName {
  font-size: 14px;
  margin-top: 25px;
}
.projectName a {
  color: var(--white);
}
.projectName a:hover {
  color: var(--gray-25);
}

.sns li {
  margin-bottom: 8px;
}

.sns a {
  color: var(--white);
}
.sns a:hover {
  color: var(--gray-25);
}