.wrap {
  position: relative;
  display: flex;
  align-items: center;
}


.main {
  background: linear-gradient(rgba(0, 0, 0, .4),  rgba(0, 0, 0, .4)),  url(../public/history.jpg); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}


.pageContent {
  padding-top: 10%;
  position: absolute;
  width: 100%;
  color: var(--white);
/*   border: 1px solid #fff; */
  text-align: center;
}
.pageSub {
  width: 50%;
  margin: 0 auto;
  line-height: 1.7;
  letter-spacing: 1.4px;
}

/*
.wrap {
  position: relative;
  display: flex;
  align-items: center;
}


.vision {
  width: 100%;
  margin: 0 auto;
  background-image: url(../public/vision.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 80vh;
  opacity: 0.2;
}


.pageContent {
  position: absolute;
  width: 100%;
  color: var(--black);
  border: 1px solid #aaa;


.pageContent {
  text-align: right;
  margin-top: 10%;
  color: var(--white);
  text-shadow: 0 0 10px var(--gray-25);
  animation: SlideIn 3s;
}
@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.pageSub {
  margin-right: 15%;
  font-size: var(--sub);
}
.pageTitle {
  font-family: 'Permanent Marker', cursive;
  font-size: var(--natori);
  letter-spacing: 0.12em;
}
.pageTitleSub {
  font-size: var(--title-sub);
}

@media screen and (max-width: 640px) {
  .pageContent {
    margin-top: var(--space);
  }
}
*/