.wrap {
  background: linear-gradient(rgba(0, 0, 0, .4),  rgba(0, 0, 0, .8)),  url(../public/history.jpg); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: clamp(25rem, 19.545rem + 27.27vw, 40rem);
  position: relative;
}

.title {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--white);
  padding: 5% 3% 0;
}
.pageTitle {
  font-size: var(--heading3);
}

.Content {
  position: absolute;
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 0 3% 6%;
  color: var(--white);
  text-align: left;
}
.pageHistory {
  margin: 0 auto;
  line-height: 2.0;
  letter-spacing: 1.4px;
}




/*
@media screen and (max-width: 640px) {
  .pageContent {
    margin-top: var(--space);
  }
}
*/