.natori {
  display: flex;
  flex-direction: column;
}
.natori img {
  width: 100%;
}

.title {
  margin-top: 5%;
  text-align: center;
}

.project {
  padding: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project div {
  width: 20%;
  text-align: center;
}
.project .name {
  font-size: var(--heading2);
  font-weight: normal;
  margin-bottom: 10px;
}
.project p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 2;
}
.project img {
  width: 100%;
  border-radius: 50%;
}



@media screen and (max-width: 640px) {
  .title h2 {
    margin-bottom: 8%;
  }

  .project {
    display: flex;
    flex-direction: column;
  }
  .project div {
    width: 75%;
    margin-bottom: 45px;
  }
  .project img {
    width: 60%;
  }
}