.main {
  padding: 5% 2%;
  text-align: center;
}
.main .text {
  margin-top: 3%;
  margin-bottom: 3%;
}

.imgBox {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
.imgBox img {
  width: 100%;
}

.button {
  display: block;
  width: 40%;
  margin: 5% auto;
  background: var(--accent);
  font-size: var(--button);
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
    background: #0090aa;
}
