.main {
  padding: 5% 2%;
  text-align: center;
}
.main h2 {
  letter-spacing: 0.6rem;
}
.main .text {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.imgBox {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
.imgBox img {
  width: 100%;
}

.button {
  display: block;
  width: 40%;
  margin: 6% auto;
  font-size: var(--button);
  border-radius: 5px;
  border: 3px solid var(--orange);
  padding: 12px 32px;
}
.button:hover {
  background: var(--gray-10);
  color: var(--gray-50);
}
